<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--LIVE-->
    <add key="CCPS_DW_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=ccps;Password=ccps" />
    <!--<add key="CW_IM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=IM.WORLD)));User ID=ccps;Password=ccps" />-->
    <add key="CW_IM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=IM.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_IM_STAN" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.60.2)(PORT=2500))(CONNECT_DATA=(SERVICE_NAME=IMSTBY.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CW_IM_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3000))(CONNECT_DATA=(SERVICE_NAME=IM.WORLD)));User ID=ccps;Password=CcpS12#$" />
    <!--<add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.46.14)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=fpt;Password=FPT123" />-->
    <!--<add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.70.15)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=fpt;Password=FPT123" />-->
    <add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=fpt;Password=FPT123" />
    <add key="CW_DW_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=fpt;Password=FPT123" />
    <!--<add key="CCPS_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.46.14)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=ccps;Password=cwccpsdw" />-->
    <!--<add key="CCPS_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.70.15)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=ccps;Password=cwccpsdw" />-->
    <add key="CCPS_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.64.6)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=ccps;Password=DbCCpsPr" />
    <add key="CCPS_DW_UAT" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SERVICE_NAME=DW.WORLD)));User ID=ccps;Password=cwccpsdb" />
    <!--<add key="EBANK_GW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.54.15)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ebankgw)));User ID=msusr;Password=smsMasterCard" />-->
    <add key="EBANK_GW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.68.17)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=smsscb)));User ID=msusr;Password=smsMasterCard" />
    <add key="SQLServerIPC" value="server=192.168.69.18;database=IPC;uid=sa;pwd=Admin@123;" />
    <!--UAT-->
    <!--<add key="CW_IM" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3000))(CONNECT_DATA=(SID=IM)));User ID=ccps;Password=ccps"/>
    <add key="CW_DW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.49.15)(PORT=3020))(CONNECT_DATA=(SID=DW)));User ID=fpt;Password=fpt"/>-->
    <!--<add key="EBANK_GW" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.44.14)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ebankgw)));User ID=msusr;Password=123456"/>-->
    <add key="SCB_Contact_Phone" value="1800545438" />    <!--so dien thoai lien lac voi SCB-->
    <add key="SCB_KM" value="bit.ly/2H1WqmM" />    <!--link ct khuyen mai SCB-->
    <add key="SCB_HDSD" value="bit.ly/FAQSCB" />    <!--link HDSD of SCB-->
    <add key="linkWS_UAT" value="https://192.168.47.63:8443/cws/services/Cardworks?wsdl" />    <!--link ws change PIN UAT-->
    <add key="linkWS_LIVE" value="https://192.168.83.17/cws/services/Cardworks?wsdl" />    <!--link ws change PIN live-->
    <add key="ThuNoFail_Hour" value="7" />    <!--8am se gui tn-->
    <add key="ThuNoFail_Minute" value="5" />    <!--5 phut se gui tin nhan-->
    <add key="UpdatePhone_Minute" value="6" />    <!--5 phut se gui tin nhan-->
    <add key="Expired_Extension_Day" value="14" />    <!-- (14)so ngay cong them tu ngay 01 de nhan tn-->
    <add key="Expired_Extension_Hour" value="9" />    <!--9am se gui tin nhan-->
    <add key="Expired_Extension_Minute" value="10" />    <!--5 phut se gui tin nhan-->
    <add key="Reminder_Outstanding_1_Day" value="27" />    <!--ngay 27 (2 ngay sau ngay sao ke)-->
    <add key="Reminder_Outstanding_1_Hour" value="9" />    <!--9am se gui tin nhan-->
    <add key="Reminder_Outstanding_1_Minute" value="10" />    <!--00 phut se gui tin nhan-->
    <add key="Reminder_Outstanding_2_Day" value="6" />    <!--ngay 6 (3 ngay truoc ngay trich no tu dong-->
    <add key="Reminder_Outstanding_2_Hour" value="9" />    <!--9am se gui tin nhan-->
    <add key="Reminder_Outstanding_2_Minute" value="16" />    <!--16 phut se gui tin nhan-->
    <add key="Reminder_Outstanding_2_due_date" value="20190619" />    <!--due date YYYYMMDD-->
    <add key="Outstanding_Change_Minute" value="1" />    <!--5 phut chay 1 lan-->
    <add key="time_sleep" value="30" />    <!--moi chu ki sleep 30s-->
    <add key="GDTangTien_Minute" value="10" />    <!---->
    <add key="GDTangTien_Hour" value="10" />    <!---->
    <add key="DKIPP_Minute" value="1" />    <!--1 phut chay 1 lan-->
    <add key="CPGD_Minute" value="2" />    <!--1 phut chay 1 lan-->
    <add key="GDMCDebit_Minute" value="1" />    <!--5 phut chay 1 lan-->
    <add key="Flag_Check_Send_SMS" value="1" />    <!--1: bat chuc nang kiem tra flag send sms, 0: tat-->
    <add key="GDKichHoatThe_Minute" value="2" />    <!--2 phut chay 1 lan-->
    <add key="Disable_Case_Minute" value="1" />    <!--1 phut chay 1 lan-->
    <add key="Disable_Case_Second" value="30" />    <!--1 phut chay 1 lan-->
    <!--<add key="Payment_Outstanding_Auto_Day_1" value="8"/>       -->    <!--ngay 8 chay trich no-->
    <!--<add key="Payment_Outstanding_Auto_Day_2" value="9"/>       -->    <!--ngay 9 chay trich no-->
    <!--<add key="Payment_Outstanding_Auto_Day_3" value="10"/>      -->    <!--ngay 10 chay trich no-->
    <!--<add key="Payment_Outstanding_Auto_Begin_Hour" value="17"/> -->    <!--bat dau tu 17h -->
    <!--<add key="Payment_Outstanding_Auto_End_Hour" value="24"/>   -->    <!--ket thuc vao 24h -->
    <add key="Payment_Outstanding_Manual_Minute" value="2" />    <!--2 phut chay 1 lan -->
    <add key="ThuNoVaTatToanIPP" value="3" />    <!--2 phut chay 1 lan -->
    <add key="Accumulative_RewardPoint_Day" value="5" />    <!--chay vao ngay 5 cua thang tiep theo-->
    <add key="Accumulative_RewardPoint_Hour" value="9" />    <!--9am se gui tin nhan-->
    <add key="Accumulative_RewardPoint_Minute" value="0" />    <!--0 phut se gui tin nhan-->
    <add key="Accumulative_GDHoanTra_Hour" value="9" />    <!--8am se gui tin nhan-->
    <add key="Accumulative_GDHoanTra_Minute" value="17" />    <!--45 phut se gui tin nhan-->
    <add key="Accumulative_BlockAndFailFee_Hour" value="9" />    <!--8am se gui tin nhan-->
    <add key="Accumulative_BlockAndFailFee_Minute" value="30" />    <!--45 phut se gui tin nhan-->
    <add key="CheckDueDate_Hour" value="6" />    <!--6pm  se gui tin nhan-->
    <add key="CheckDueDate_Minute" value="0" />    <!--0 phut se gui tin nhan-->
    <add key="CheckDueDate_Hour2" value="18" />    <!--6pm  se gui tin nhan-->
    <add key="CheckDueDate_Minute2" value="0" />    <!--0 phut se gui tin nhan-->
    <add key="DueDate1" value="-1" />   <!--ngay thu no lan 1-->
    <add key="DueDate2" value="0" />    <!--ngay thu no lan 2-->
    <add key="DueDate3" value="1" />    <!--ngay thu no lan 3-->
    <add key="DueDate4" value="2" />    <!--ngay thu no lan 4-->
    <add key="DueDate5" value="3" />    <!--ngay thu no lan 5-->
    <add key="MyPhone1" value="0906094098" />    <!--so dt nhan tn kiem tra: hoan-->
    <add key="MyPhone2" value="0906806988" />    <!--so dt nhan tn kiem tra: hung-->
    <add key="MyPhone3" value="0983986298" />    <!--so dt nhan tn kiem tra: huyen-->
    <add key="MyPhone4" value="0989990921" />    <!--so dt nhan tn kiem tra: hieu-->
    <add key="MyPhone5" value="0918659894" />    <!--so dt nhan tn kiem tra: c Thao-->
    <add key="MyPhone6" value="0983167035" />    <!--so dt nhan tn kiem tra: a Huan-->
    <add key="MyPhone7" value="0908689591" />    <!--so dt nhan tn kiem tra: Khoa-->
    <add key="MyPhone8" value="0922189192" />    <!--so dt nhan tn kiem tra: Linh-->
    <add key="MyPhone9" value="0903073071" />    <!--so dt nhan tn kiem tra: c Huynh-->
    <add key="MyPhone10" value="01223412553" />    <!--so dt nhan tn kiem tra: Hkinh-->
    <add key="MyPhone11" value="0938280584" />    <!--so dt nhan tn kiem tra: Yen-->

    <add key="date_backuplog" value="6" />    <!--ngay 6 gui sms, sang 4h ngay 7 nen file log switch-->
    <add key="Accumulative_NoQuaHan_Hour" value="9" />    <!--9am se gui tin nhan-->
    <add key="Accumulative_NoQuaHan_Minute" value="21" />    <!--20 phut se gui tin nhan-->
    <add key="date1_NoQuaHan" value="2" />    <!--2-ngay dau gui tin nhan qua han-->
    <add key="date2_NoQuaHan" value="6" />    <!--6-ngay thu 2 gui tin nhan qua han-->
    <add key="date3_NoQuaHan" value="11" />    <!--11- ngay thu 3 gui tin nhan qua han-->
    
    <add key="Annual_Fee_Minute" value="12" />    <!--12- 12ph quet mot lan-->
    <add key="Be_AnnuaFee" value="9" />    <!--8- thoi gian bat dau quet-->
    <add key="En_AnnuaFee" value="18" />    <!--18- thoi gian ket thuc quet-->
    
    

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CardworksSoapBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CardworksSoapBinding1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="655360" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://192.168.47.63:8443/cws/services/Cardworks"
        binding="basicHttpBinding" bindingConfiguration="CardworksSoapBinding"
        contract="CardworksWS.Cardworks" name="Cardworks" />
    </client>
  </system.serviceModel>
</configuration>